<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223275758934-o97k17k3rqfsd88sujvq4h1jojudjuhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223275758934-o97k17k3rqfsd88sujvq4h1jojudjuhk</string>
	<key>API_KEY</key>
	<string>AIzaSyATzn6JH-gfoXVtOHmbV1Rier3aRIxqGgw</string>
	<key>GCM_SENDER_ID</key>
	<string>223275758934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFlutter</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-efbf3</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-efbf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223275758934:ios:4ce20fcb480a8b483092f7</string>
</dict>
</plist>